<section class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>
      La EPN es una institución universitaria, de derecho público, autónoma, con personería jurídica, se rige por la Constitución de la República, la Ley Orgánica de Educación Superior y su Reglamento, otras leyes conexas, por su Estatuto, reglamentos, manuales de funciones, instructivos y resoluciones expedidos por sus propios organismos de gobierno y autoridades; tiene como misión formar académicos y profesionales con conciencia ética, solidarios, críticos, capaces de contribuir al bienestar de la comunidad, así como generar, difundir y trasmitir el conocimiento científico con responsabilidad social.
      </p>
      <p>Además, satisfacer las demandas científico-tecnológicas del país mediante la dinámica de interacción con los actores de la sociedad, investigación científica, formación profesional con títulos de tercer y cuarto nivel en las diferentes ramas del conocimiento, altamente capacitados para que contribuyan a los cambios socioeconómicos que el país requiere e impulsar el desarrollo sostenido y sustentable del país.
      </p> 
      <p>Según la Ley del Sistema Nacional de Archivos, la documentación que actualmente existe o que en
      adelante se produjere en los archivos de todas las Instituciones de los sectores públicos es patrimonio del Estado, por lo que debe ser administrada de acuerdo con criterios preestablecidos que garanticen su eficiente clasificación y conservación. 
      </p>
      <p>
      Es necesario controlar la gestión de los documentos, digitalizarlos, archivarlos en un solo lugar y
      garantizar la seguridad desde su creación en las diferentes fuentes, ejecutar tareas de su manejo de forma centralizada, tener esquemas de indexación y acceso automatizado por medio de portales personalizados.
      </p>
      <p>
      El objetivo que se busca con el proyecto es:
      </p>
      <p>
      Desarrollar un Prototipo funcional para la gestión del Sistema de Archivos Institucionales EPN
      utilizando metodologías ágiles.
      </p>
  </div>
</section>