    <section class="card">
        <div class="card-body">
            <h1 class="display-4 center">Desarrolladores</h1>
        </div>
    
        <div class="developer-review">
            <div class="circulo mx-auto d-block logo m-4">
                <img src="img/fis.png" alt="Foto del Desarrollador 1">
            </div>
            <h2>Desarrollador</h2>
            <p>Un desarrollador talentoso con una amplia experiencia en desarrollo web y aplicaciones móviles. Siempre entrega proyectos a tiempo y con calidad excepcional.</p>
            <p>Calificación: <strong>4.5/5</strong></p>
        </div>

        <div class="developer-review">
            <div class="circulo mx-auto d-block logo m-4">
                <img src="img/Marlon.jpg" alt="Foto del Desarrollador 1">
            </div>
            <h2>Marlon Pachacama</h2>
            <p>Un desarrollador talentoso con una amplia experiencia en desarrollo web y aplicaciones móviles. Siempre entrega proyectos a tiempo y con calidad excepcional.</p>
            <p>Calificación: <strong>4.5/5</strong></p>
        </div>

        <div class="developer-review">
            <div class="circulo mx-auto d-block logo m-4">
                <img src="img/fis.png" alt="Foto del Desarrollador 1">
            </div>
            <h2>Desarrollador</h2>
            <p>Un desarrollador talentoso con una amplia experiencia en desarrollo web y aplicaciones móviles. Siempre entrega proyectos a tiempo y con calidad excepcional.</p>
            <p>Calificación: <strong>4.5/5</strong></p>
        </div>
    </section>
        <div>
        <footer class="mt-4">
                <p>&copy; 2023 Gestor de Archivos FIS. Todos los derechos reservados.</p>
            </footer>
        </div>
