<!DOCTYPE html>
<html>
<head>
    <title>Reseñas de Desarrolladores</title>
    
</head>
<body>
    <div class="developer-review">
        <div class="circulo mx-auto d-block logo m-4">
            <img src="img/fis.png" alt="Foto del Desarrollador 1">
        </div>
        <h2>Desarrollador</h2>
        <p>Un desarrollador talentoso con una amplia experiencia en desarrollo web y aplicaciones móviles. Siempre entrega proyectos a tiempo y con calidad excepcional.</p>
        <p>Calificación: <strong>4.5/5</strong></p>
    </div>

    <div class="developer-review">
        <div class="circulo mx-auto d-block logo m-4">
            <img src="img/fis.png" alt="Foto del Desarrollador 1">
        </div>
        <h2>Desarrollador</h2>
        <p>Un desarrollador talentoso con una amplia experiencia en desarrollo web y aplicaciones móviles. Siempre entrega proyectos a tiempo y con calidad excepcional.</p>
        <p>Calificación: <strong>4.5/5</strong></p>
    </div>

    <div class="developer-review">
        <div class="circulo mx-auto d-block logo m-4">
            <img src="img/fis.png" alt="Foto del Desarrollador 1">
        </div>
        <h2>Desarrollador</h2>
        <p>Un desarrollador talentoso con una amplia experiencia en desarrollo web y aplicaciones móviles. Siempre entrega proyectos a tiempo y con calidad excepcional.</p>
        <p>Calificación: <strong>4.5/5</strong></p>
    </div>
</body>
</html>
