<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card mt-1 bg-black text-white rounded">
      <div class="card-header text-center pt-5">
        <h1 class="h4 text-white">
          Gestor de archivos - Administrativo
        </h1>
      </div>
    </div>
  </div>
</div>
<div>

