<div class="card card-body p-5 mt-4">
  <h1 class="display-1 center">Prototipo</h1>
  <h1 class="display-4 center">Gestor de Archivos FIS</h1>
  <p class="lead">A simple App to manage Notes developed with Nodejs, Express,
    Mongodb and Javascript Technologies</p> 
</div>
<div>
  <footer>      
    <p>&copy; 2023 Gestor de Archivos FIS. Todos los derechos reservados.</p>
  </footer>
</div>