<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header bg-dark text-center">
            <h3 class="text-white">Nuevo Archivo</h3>
         </div>

        <div class="card-body text-right">
            <form action="/notes/new-notes" method="POST">
                <div class="mb-3">
                    <label for="area">Area:</label>
                    <select id="area" name="area" onchange="actualizarArea()">
                        <option value="Decanato">Decanato</option>
                        <option value="Subdecanato">Sub-Decanato</option>
                        <option value="Jefatura">Jefatura de Departamento</option>
                    </select>
                    <br>
                </div>

                <div class="mb-3">
                    <label for="cargo">Secretaria:</label>
                    <select id="cargo" name="cargo" onchange="actualizarDepartamento()">
                        <!-- Las opciones se actualizarán dinámicamente mediante JavaScript -->
                    </select>
                    <br>
                </div>

                <div class="mb-3">
                    <label for="departamento">Documento:</label>
                    <select id="departamento" name="departamento" onchange="actualizarSubtipoDocumento()">
                        <!-- Las opciones se actualizarán dinámicamente mediante JavaScript -->
                    </select>
                    <br>
                </div>

                <div class="mb-3">
                    <label for="subdepartamento">Subtipo de Documento:</label>
                    <select id="subdepartamento" name="subdepartamento" onchange="actualizarPeriodo()">
                        <!-- Las opciones se actualizarán dinámicamente mediante JavaScript -->
                    </select>
                    <br>
                </div>

                <div class="mb-3">
                    <label for="periodo">Perido/Año:</label>
                    <select id="periodo" name="periodo">
                        <!-- Las opciones se actualizarán dinámicamente mediante JavaScript -->
                    </select>
                    <br>
                </div>

                <div class="mb-3">
                    <label for="carrera">Carrera:</label>
                    <select id="carrera" name="carrera">
                        <option value="Computacion">Computación</option>
                        <option value="Software">Software</option>
                    </select>
                    <br>
                </div>

                <div class="d-flex justify-content-between mb-3">
                    <button onclick="regresarPaginaPrincipal()" class="btn btn-primary">Cancelar</button>
                    <button class="btn btn-primary" type="submit">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/script.js"></script>