<div class="col-md-4 mx-auto">
  <div class="card">
    <div class="card-header bg-dark text-center">
      <h3 class="text-white">Agregar usuario</h3>
    </div>

    <div class="card-body text-right">
      <form method="post" action="/administration/add">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Nombre</label>
          <input class="form-control" name="name" id="exampleInputEmail1" aria-describedby="emailHelp" required>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Email</label>
          <input type="email" class="form-control" name="email" id="exampleInputPassword1" required>
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Contraseña</label>
          <input type="password" class="form-control" name="password" id="exampleInputPassword1" required>
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Confirmar contraseña</label>
          <input type="password" class="form-control" name="confirm_password" id="exampleInputPassword1" required>
        </div>

        <div class="mb-3">
          <label for="facultad">Facultad:</label>
          <select class="form-select" aria-label="Default select example" name="facultad" required>
            <option value="FIS">FIS</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Rol</label>
          <select class="form-select" aria-label="Default select example" name="rol">
            <option value="Admin">Administrador</option>
            <option value="Decanato">Decanato</option>
            <option value="Subdecanato">Subdecanato</option>
            <option value="Jefatura">Jefatura</option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label">Tipo de usuario</label><br>
          <input type="checkbox" id="editor" name="tipo" value="editor">
          <label for="vehicle1"> Editor</label><br>
          <input type="checkbox" id="visualizador" name="tipo" value="visualizador">
          <label for="vehicle2"> Visualizador</label><br>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Estado</label>
          <select class="form-select" aria-label="Default select example" name="estado">
            <option value="1">Activo</option>
            <option value="0">Inactivo</option>
          </select>
        </div>
        <div class="d-flex justify-content-between mb-3">
          <a class="btn btn-primary" href="/administration" role="button"> <i class="fas fa-times"></i> Cancelar</a>
          <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button>
        </div>

      </form>
    </div>
  </div>
</div>