 <form method="post" action="/administration/add">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Nombre</label>
    <input  class="form-control" name="name" id="exampleInputEmail1" aria-describedby="emailHelp" required>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Email</label>
    <input type="email" class="form-control" name="email" id="exampleInputPassword1" required>
  </div>
  
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
    <input type="password" class="form-control" name="password" id="exampleInputPassword1" required>
  </div>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Confirmar contraseña</label>
    <input type="password" class="form-control" name="confirm_password" id="exampleInputPassword1" required>
  </div>

  <div class="mb-3">
    <label for="facultad">Facultad:</label>
    <select class="form-select" aria-label="Default select example" name="facultad" required>
      <option value="FIS">FIS</option>
    </select>
  </div>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Rol</label>
    <select class="form-select" aria-label="Default select example" name="rol">
      <option selected>Seleccionar Rol</option>
      <option value="admin">Administrador</option>
      <option value="decanato-fis">Decanato</option>
      <option value="subdecanato-fis">Subdecanato</option>
      <option value="jefatura-fis">Jefatura</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Tipo</label>
    <select class="form-select" aria-label="Default select example" name="tipo">
      <option selected>Seleccionar Tipo</option>
      <option value="visualizador">Visualizador</option>
      <option value="editor">Editor</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Estado</label>
    <select class="form-select" aria-label="Default select example" name="estado">
      <option selected>Seleccionar Estado</option>
      <option value="1">Activo</option>
      <option value="0">Inactivo</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Guardar</button>
</form>