<h1>Actualizar</h1>

<form method="post" action="/administration/update">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Nombre</label>
    <input  class="form-control" name="name" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder={{user.name}} required>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Email</label>
    <input type="email" class="form-control" name="email" id="exampleInputPassword1" placeholder={{user.email}} required>
  </div>
  
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
    <input type="password" class="form-control" name="password" id="exampleInputPassword1" required>
  </div>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Confirmar contraseña</label>
    <input type="password" class="form-control" name="confirm_password" id="exampleInputPassword1" required>
  </div>

  <input type="hidden" name="_method" value={{_id}}>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Rol</label>
    <select class="form-select" aria-label="Default select example" name="rol">
      <option selected>Seleccionar Rol</option>
      <option value="admin">Administrador</option>
      <option value="decanato-fis">Decanato</option>
      <option value="subdecanato-fis">Subdecanato</option>
      <option value="jefatura-fis">Jefatura</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Aceptar</button>
  
</form>