<!-- Incluye jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- Mensaje de error individual -->
{{#if error}}
<div class="alert alert-danger alert-dismissible fade show" role="alert" id="errorAlert">
  {{error}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

<!-- Mensajes de errores múltiples -->
{{#each errors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{text}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/each}}

<!-- Script para cerrar automáticamente las alertas después de 3 segundos -->
<script>
  $(document).ready(function() {
    // Cerrar automáticamente la alerta después de 3 segundos
    setTimeout(function() {
      $(".alert").alert('close');
    }, 3000);
  });
</script>
