<nav class="navbar navbar-expand-lg navbar-dark p-2 bg-black">
  <div class="container">
    <a class="navbar-brand">
      <span class="fas fa-file-alt"></span> GESTOR DE ARCHIVOS - FIS
    </a>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      
      <ul class="navbar-nav ms-auto">
          {{#if user}}
          <li class="nav-item dropdown">
            {{#if isAdmin }}
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Usuarios
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/users/signup">Crear usuario</a>
              <a class="dropdown-item" href="/notes/add">Eliminar Usuario</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/users/logout">Salir</a>
            </div>
            {{/if}}
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <span class="fas fa-cogs"></span> Modulos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/notes">
                  <i class="fas fa-folder-open"></i> Todos los Archivos
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/users/logout">
                <i class="fas fa-sign-out-alt"></i> Salir
              </a>
            </div>
          </li>
          {{/if}}
      </ul>
    </div>
  </div>
</nav>


