{{#if success_msg}}
  <div id="success-alert" class="alert alert-success alert-dismissible fade show" role="alert">
    {{success_msg}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <script>
    // JavaScript para cerrar automáticamente el mensaje después de 3 segundos
    setTimeout(function() {
      var successAlert = document.getElementById('success-alert');
      if (successAlert) {
        successAlert.remove(); // o puedes usar successAlert.style.display = 'none'; para ocultarlo
      }
    }, 3000);
  </script>
{{/if}}
