body {
    background: whitesmoke;
  }

.titulo{/*Gestor de archivos*/
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 5px;
  margin: 0;
}

.logo {
  width: 100px;
  height: 100px;
}

.center {/*boton signIn/signUp*/
  text-align: center;
}

.circulo {
  width: 150px; /* Ancho del círculo */
  height: 150px; /* Alto del círculo */
  border-radius: 50%; /* Establece el radio para crear un círculo perfecto */
  overflow: hidden; /* Oculta el contenido que se sale del círculo */
  border: 2px solid #333; /* Añade un borde opcional */  
}

.circulo img {
  width: 100%; /* Asegura que la imagen llene completamente el círculo */
  height: auto; /* Mantiene la proporción original de la imagen */
}

.footer .fter{
  text-align: center;
}

