body {
    background: whitesmoke;
  }

.titulo{/*Gestor de archivos*/
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 5px;
  margin: 0;
}

.logo {
  width: 100px;
  height: 100px;
}

.center {/*boton signIn/signUp*/
  text-align: center;
}

footer {
  text-align: center; /* Centra el contenido del footer */
  background-color: black; /* Cambia el color de fondo a tu preferencia */
  color: #fff; /* Cambia el color del texto a tu preferencia */
  padding: 10px 0; /* Espaciado interior del footer */
}
