body {
    background: whitesmoke;
  }

.logo {
  width: 100px;
  height: 100px;
}

.center {
  text-align: center;
}

footer {
  text-align: center; /* Centra el contenido del footer */
  background-color: black; /* Cambia el color de fondo a tu preferencia */
  color: #fff; /* Cambia el color del texto a tu preferencia */
  padding: 10px 0; /* Espaciado interior del footer */
}
